/* {
  "extends": [
    "wesbos",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ]
  }
}
 */